<h1>Un univers alliant le dessin à la peinture à l'huile, le réalisme à l'imaginaire, le noir et blanc à la couleur, le passé au présent, la pensée à l'interprétation, un univers qui me ressemble... Qui peut devenir le vôtre !!!
Confiez moi vospensées, vos idées, vos rêves, mes pinceaux se chargeront du reste...
</h1>
